<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="com.jme3" level="info" />
        <AsyncLogger name="de.lessvoid.nifty" level="info" />
        <AsyncLogger name="com.kendanware" level="debug" />
        <AsyncLogger name="com.jme3.scene.plugins.OBJLoader" level="error" />

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
